.about-frame {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.about-text {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.about-name {
  font-size: 35px;
}
.about-description {
  font-size: 30px;
}
.about-description a {
  text-decoration: none;
  color: rgb(97, 88, 88);
}
.about-profile-picture img {
  width: 50%;
}
.about-profile-picture {
  display: block;
  text-align: center;
  clip-path: ellipse(25% 49% at 50% 50%);
}
