.about-frame-title {
  margin: 160px 0;
}
.about-frame {
  display: flex;
  flex-direction: row;
  letter-spacing: 4px;
}
.about-text {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.about-description {
  font-size: 30px;
  margin-top: 80px;
  padding: 10px;
  background-position: left top;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.about-description a {
  text-decoration: none;
  color: rgb(23, 207, 198);
}
.about-profile-picture {
  display: block;
  width: 100%;
}
.about-profile-picture img {
  width: 35%;
  clip-path: ellipse(50% 50% at 50% 49.5%);
  margin-left: 200px;
  margin-top: 90px;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}
.about-parallax {
  background-image: url("./study_parallox.jpg");

  min-height: 300px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1500px) {
  .about-frame {
    display: flex;
    flex-direction: column;
  }
  .about-profile-picture {
    text-align: center;
  }
  .about-profile-picture img {
    width: 20%;
    clip-path: ellipse(50% 50% at 50% 49.5%);
    margin: 0;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
  }
}
@media screen and (max-width: 900px) {
  .about-frame {
    display: flex;
    flex-direction: column;
  }
  .about-profile-picture {
    display: block;
    width: 100%;
    text-align: center;
  }
  .about-profile-picture img {
    width: 50%;
    clip-path: ellipse(50% 50% at 50% 49.5%);
    margin-left: 0px;
    margin-top: 0px;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
  }
  .about-parallax {
    min-height: 200px;
  }
  .about-description {
    font-size: 20px;
    margin-top: 10px;
    margin: 10 auto;
  }
}
