.introduction-frame {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 535px;
  width: 100%;
}

.introduction-image {
  margin: auto 0;
}

.introduction-title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 10px;
  margin: auto 0;
}

.introduction-title:hover {
  color: rgb(180, 173, 173);
}

hr {
  display: block;
  /* height: 10px; */
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}


@media screen and (max-width: 1550px) {
  img {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .introduction-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    height: 400px;
  }
  img {
    height: 300px;
    width: 460px;
    margin: 0px;
  }

  .introduction-image {
    margin: 0 0;
  }

  .introduction-title {
    margin: auto auto;
    text-align: center;
  }
}
