.introduction-frame {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px 0;
  height: 667px;
  width: 100%;
}

.introduction-image {
	margin: auto 0px auto 50px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.introduction-title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 10px;
  margin: auto 0;
  animation: fadein 2s;
	-webkit-animation: fadein 2s;
	font-size: 35px;
}

.introduction-title:hover {
  color: rgb(180, 173, 173);
}

img {
  transition: transform 1s;
}

.introduction-image:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 100px 20px 100px;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1550px) {
  .introduction-frame {
    padding: 25px 0;
    height: 535px;
    width: 100%;
  }
  img {
    width: 800px;
	}
	.introduction-title{
	font-size: 25px;

	}
}

@media screen and (max-width: 1350px) {
  .introduction-frame {
    padding: 25px 0;
    height: 400px;
    width: 100%;
  }
  img {
    width: 600px;
  }
}

@media screen and (max-width: 1165px) {
  .introduction-frame {
    padding: 25px 0;
    height: 335px;
    width: 100%;
  }
  img {
    width: 500px;
	}
	.introduction-title{
		font-size: 18px;
	
		}
}

@media screen and (max-width: 900px) {
  .introduction-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
		height: 320px;
		padding: 0px 0;
  }
  img {
    height: 300px;
    width: 460px;
    margin: 0px;
	}
	
	hr{
		margin: 10px 100px 10px 100px;
	}

  .introduction-image {
    margin: 0 0;
    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
  }

  .introduction-title {
    margin: 0 auto;
    text-align: center;
  }
}
