.header-frame {
  position: relative;
}

.header-videoBackground {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  justify-content: center;
  z-index: -1000;
}

.header-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 2.5vw;
  top: 40%;
  left: 27%;
  z-index: 1;
  bottom: 0;
  color: white;
}

.header-name {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
  overflow: hidden;
  border-right: 3.5px solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 10px;
  animation: typing 3.5s steps(45, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.header-description {
  text-align: center;
  font-size: 1.7vw;
  letter-spacing: 10px;
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    top: 40%;
    left: 17%;
  }
  .header-description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    top: 40%;
    left: 17%;
  }
  .header-description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 576px) {
  .header-text {
    left: 10%;
  }
}
