.contacts-frame {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 667px;
  width: 100%;
}

.contacts-image {
  margin: auto 0px auto 50px;
  animation: fadein 1s;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.contacts-header-img {
  transition: transform 1s;
}

.contacts-image:hover .contacts-header-img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contacts-title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 10px;
  margin: auto 0;
  animation: fadein 4s;
  font-size: 35px;
}

.contacts-title:hover {
  color: rgb(180, 173, 173);
}
.contacts-email-phone {
  display:flex;
  flex-wrap: nowrap;
  font-size: 1.2vw;
  padding-top: 20px;
  letter-spacing: 3px;
}

@media screen and (max-width: 1550px) {
  .contacts-frame {
    padding: 0;
    height: 535px;
    width: 100%;
  }
  .contacts-header-img {
    width: 800px;
  }
  .contacts-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 1350px) {
  .contacts-frame {
    height: 400px;
    width: 100%;
  }
  .contacts-header-img {
    width: 600px;
  }
}

@media screen and (max-width: 1165px) {
  .contacts-frame {
    height: 335px;
    width: 100%;
  }
  .contacts-header-img {
    width: 500px;
  }
  .contacts-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .contacts-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    height: 320px;
    padding: 0px 0;
  }
  .contacts-header-img {
    height: 300px;
    width: 460px;
    margin: 0px;
  }

  .contacts-image {
    margin: 0 0;
    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
  }

  .contacts-title {
    margin: 0 auto;
    text-align: center;
  }

  .contacts-email-phone {

    font-size: 2vw;
  }
}
