.skills-frame {
  display: flex;
  background-color: rgb(51, 47, 47);
  flex-direction: row;
  letter-spacing: 7px;
}
.skills-image-desktop {
  display: flex;
  flex-direction: column;
}
.skills-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
}
.skills-list div {
  width: 100%;
  font-size: 1.9vw;
  padding: 20px 0px 0px 150px;
  transition: transform 0.2s;
}
.skills-list div:hover {
  transform: scale(1.05);
}
.skills-list div::before {
  content: "";
  background-image: url(https://cdn.pixabay.com/photo/2013/07/13/10/48/check-157822_1280.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  margin-right: 80px;
}
.skills-image-desktop img {
  width: 500px;
  height: 500px;
  margin: auto 230px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
h1 {
  text-align: center;
  letter-spacing: 7px;
}
@media screen and (max-width: 1420px) {
  .skills-frame {
    display: flex;
    flex-direction: display;
  }
  .skills-list div{
    width: 100%;
    font-size: 1.26vw;
    margin: 10px 80px;
    padding: 10px 0px 0px 0px;
  }
  .skills-list div::before {
    margin-right: 60px;
  }
  .skills-image-desktop img {
    width: 35vw;
    margin: 0px 120px;
  }
}
@media screen and (max-width: 900px) {
  .skills-frame {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .skills-image-desktop img {
    width: 250px;
    height: 250px;
    margin: 30px auto;
  }
  .skills-list div {
    width: 80%;
    font-size: 20px;
    margin: 0px 0px 0px 100px;
    padding: 20px 0px 0px 0px;
  }
  .skills-list div::before {
    margin-right: 10px;
  }
}
