.footer-frame {
  display: flex;
  justify-content: center;
  background-color: black;
}
.footer-text {
  padding: 10px;
  margin: 15px;
  font-size: 1vw;
  color: white;
}
@media screen and (max-width: 900px) {
  .footer-text {
    font-size: 2vw;
  }
}
