.projects.title {
  display: block;
}
.projects-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5vw;
  letter-spacing: 7px;
  padding: 0 250px;
}
.projects-image-frame {
  display: flex;
  margin: auto 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.projects-image {
  width: 35vw;
  height: 20vw;
  transition: transform 1s;
}
.projects-image-frame:hover .projects-image {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.projects-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 350px 40px 350px;
  padding: 0;
}
.projects-description {
  padding: 0 60px;
  margin: auto 0;
  width: 100%;
  text-align: center;
}
.projects-description:hover {
  color: rgb(180, 173, 173);
}
.projects-technology-title {
  text-align: center;
  font-size: 2vw;
}
.projects-name {
  font-size: 2.5vw;
  letter-spacing: 10px;
  text-align: center;
}
.projects-name:hover {
  color: rgb(180, 173, 173);
}
.projects-technology-item {
  padding: 0 60px;
}
.projects-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 100px 40px 100px;
  padding: 0;
}
.projects-div-name {
  padding: 0 500px;
}

.projects-more-projects {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
  width: 450px;
  padding: 10px;
  margin: 25px;
  color: white;
  background-color: rgb(133, 204, 204);
  border: 1px solid grey;
}
.projects-more-projects:hover {
}

@media screen and (max-width: 900px) {
  .projects-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3vw;
    letter-spacing: 7px;
    padding: 0 5vw;
    margin: 0 70px;
  }
  .projects-name {
    font-size: 4vw;
    letter-spacing: 10px;
    text-align: center;
  }
  .projects-name:hover {
    color: rgb(180, 173, 173);
  }
  .projects-div-name {
    padding: 0 19vw;
  }
  .projects-image-frame {
    display: flex;
    margin: 0 auto;
  }
  .projects-description {
    padding: 0px;
    margin: auto;
    text-align: center;
  }
  .projects-technology-item {
    padding: 0px;
  }
  .projects-technology-title {
    padding: 10px 0;
    font-size: 4vw;
  }
}
