.navbar-frame {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  background-color: rgb(133, 204, 204);
  /* position: fixed; */
  position: sticky;
  top: 0;
  z-index: 10000;
  /* transition: 0.6s; */
}

.navbar-options {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 10px;
  padding: 15px 20px;
  position: relative;
  /* transition: 0.6s; */
}
.navbar-options:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}
.navbar-options:hover:after {
  width: 100%;
  left: 0;
}
.navbar-logo {
  padding: 0px 10px 0px 10px;
  height: 30px;
  width: 28px;
  transition: transform 0.8s;
}
.navbar-logo:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 900px) {
  .navbar-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .navbar-options {
    font-size: 15px;
  }
  .navbar-logos {
    display: flex;
    margin: 0 auto;
    padding: 7px 0px;
  }
}
