div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  
    padding: 10px 0;
  }
  a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10px;
    padding: 15px 15px;
    position: relative;
  }
  
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  
  @media screen and (max-width: 900px) {
    div {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      text-align: center;
      margin: 0 auto;
    }
    a {
      justify-content: center;
      width: auto;
      font-size: 15px;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }