html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  /* font-family: 'Pacifico', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  src: url(fonts/IBMPlexSerif-Regular.ttf);
  font-family: "IBM Plex Serif", serif;
  font-family: "Pacifico", cursive;
}
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(107, 192, 192);
}
::-webkit-scrollbar-track {
  background: rgb(217, 248, 248);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 100px 40px 100px;
  padding: 0;
}
