@font-face {
  src: url(/src/fonts/IBMPlexSerif-Regular.ttf);
  font-family: "IBM Plex Serif", serif;
}

body {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
