html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  /* font-family: 'Pacifico', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(39, 39, 39); */
}
@font-face {
  src: url(fonts/IBMPlexSerif-Regular.ttf);
  font-family: "IBM Plex Serif", serif;
  font-family: "Pacifico", cursive;
}
::-webkit-scrollbar {
  width: 17px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(92, 91, 91);
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3.5px solid rgb(92, 91, 91);  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 100px 40px 100px;
  padding: 0;
}
